*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    padding : 0 10%;
    background-color:yellow;
}
/* --------------------- HEADER ----------------------------- */


header p {
    color: white;
    text-align: center;
    font-size: x-large;
    background-color: rgb(0, 162, 255);
    
}
figure img {
    width: 100%;
    
}
/*---------------------------Main-------------------------*/
main {
    background-color: white;
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
}

nav {
    background-color:rgb(0, 162, 255) ;
    text-decoration :underline;
    padding: 10px 20px;
    margin: 8px;
    text-align: center;
}
ul {
    list-style-type: none
    ;
}

li a{

    color : white
}
h1 {
    text-align: left;
    color: rgb(217, 217, 7);
}
article {
    padding: 10px;
}
#pArticle {
    text-align: justify;
}

figure {
    background-color: rgb(0, 162, 255);
    color: white;
}
h2 {
    text-align: center;
}
aside {
    border: 10px solid white;
   
}
figcaption {
    text-align:justify;
    margin: 10px;
}
#Matt {
    border:  20px solid rgb(0, 162, 255);
}

/*----------------Footer-----------------------------*/

footer {
    border-top: 20px solid white;
      background-color: blue;
      text-align: center;
    }
   small{
       color: white;
}
    

