*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

main {
    display: flex;
    align-items: flex-start;
}
#container {
  padding : 0 10%;
  background-color:yellow;
}
/* --------------------- HEADER ----------------------------- */


header p {
    text-align: center;
    font-size: x-large;
    background-color: rgb(0, 162, 255);
    margin: 0;
}
figure img {
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
}
/*---------------------------Main-------------------------*/
main {
    background-color: white;
}

nav {
    background-color:rgb(0, 162, 255) ;
    text-decoration :underline;
    padding: 10px 20px;
    margin: 8px;
}
ul {
    list-style-type: none
    ;
}

li a{

    color : white
}
article {
    padding: 10px;
}

figure {
    background-color: rgb(0, 162, 255);
}
#Matt {
  gap: 10;
  
}

/*----------------Footer-----------------------------*/
small {
    background-color: blue;
    text-align: center;

}